<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" th:href="@{bootstrap/css/bootstrap.css}">

    <script src="../static/js/jquery-3.3.1.js" th:src="@{js/jquery-3.3.1.js}"></script>
    <script src="../static/bootstrap/js/bootstrap.js" th:src="@{bootstrap/js/bootstrap.js}"></script>

</head>
<body class="text-center">
<a class="btn btn-sm btn-primary" href="registerForm">完善/修改个人资料</a>
<div class="table">
    <!--<table class="table">-->
        <!--<tr>-->
            <!--<th rowspan="2" class="text-center">部门</th>-->
            <!--<th rowspan="2" class="text-center">姓名</th>-->
            <!--<th rowspan="2" class="text-center">电话</th>-->
            <!--<th rowspan="2" class="text-center">性别</th>-->
            <!--<th rowspan="2" class="text-center">住址</th>-->
            <!--<th rowspan="2" class="text-center">是/否校内人员</th>-->
            <!--<th rowspan="2" class="text-center">是/否未离开过厦门</th>-->
            <!--<th colspan="4" class="text-center">曾离开厦门后去向情况</th>-->
            <!--<th rowspan="2" class="text-center">有/无接触湖北疫区人员</th>-->
            <!--<th rowspan="2" class="text-center">目前健康状况</th>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th class="text-center">省</th>-->
            <!--<th class="text-center">市/县</th>-->
            <!--<th class="text-center">已返厦时间</th>-->
            <!--<th class="text-center">预计返厦时间</th>-->
        <!--</tr>-->
    <!--</table>-->
    <table class="table">
        <tr>
            <th class="text-center">部门</th>
            <th class="text-center">姓名</th>
            <th class="text-center">籍贯</th>
            <th class="text-center">电话</th>
            <th class="text-center">性别</th>
            <th class="text-center">住址</th>
            <th class="text-center">是/否校内人员</th>
            <th class="text-center">目前健康状况</th>
            <th class="text-center">今日健康打卡</th>
        </tr>
        <tr id="tr">
            <!--<td class="text-center">集美区</td>-->
            <!--<td class="text-center" th:text="${teacher.department}">集美大学</td>-->
            <!--<td class="text-center" th:text="${teacher.name}">xxx</td>-->
            <!--<td class="text-center" th:text="${teacher.phone}">123456</td>-->
            <!--<td class="text-center" th:text="${teacher.sex}">男</td>-->
            <!--<td class="text-center">5号楼</td>-->
            <!--<td class="text-center">是</td>-->
            <!--<td class="text-center"><a href="list">查看详情</a></td>-->
        </tr>
    </table>
</div>
</body>
<script>
    $(function () {
        $.get("isLogin",function (user) {
            if (user.flag == 0){
                location.href="registerForm";
            }
            else {
                var data = {
                    "id" : user.id
                }
                $.ajax({
                    type:"post",// get或者post
                    url:"findOneTeacher",// 请求的url地址
                    data: data,//请求的参数
                    dataType:"json",//json写了jq会帮我们转换成数组或者对象 他已经用JSON.parse弄好了
                    beforeSend:function(){
                        // 发送之前就会进入这个函数
                        // return false 这个ajax就停止了不会发 如果没有return false 就会继续
                    },
                    success:function(data){ // 成功拿到结果放到这个函数 data就是拿到的结果
                        var td = '';
                        var school = "";
                        if (data.isSchool == 1){
                            school = "是";
                        }
                        else {
                            school = "否";
                        }
                        td += '<td class="text-center">'+data.department+'</td>\n' +
                            '            <td class="text-center">'+data.name+'</td>\n' +
                            '            <td class="text-center">'+data.area+'</td>\n' +
                            '            <td class="text-center">'+data.phone+'</td>\n' +
                            '            <td class="text-center">'+data.sex+'</td>\n' +
                            '            <td class="text-center">'+data.address+'</td>\n' +
                            '            <td class="text-center">'+school+'</td>\n' +
                            '            <td class="text-center"><a href="list" ">查看详情</a></td>\n'+
                            '            <td class="text-center"><a href="dailyForm">传送门</a></td>\n';
                        $("#tr").html(td);
                    }
                });
                // '+data.userId+'
            }
        })
    })
    // function show(userId) {
    //     var data = {
    //         "userId" : userId
    //     }
    //     $.ajax({
    //         type:"post",// get或者post
    //         url:"show",// 请求的url地址
    //         data: data,//请求的参数
    //         dataType:"json",//json写了jq会帮我们转换成数组或者对象 他已经用JSON.parse弄好了
    //         beforeSend:function(){
    //             // 发送之前就会进入这个函数
    //             // return false 这个ajax就停止了不会发 如果没有return false 就会继续
    //         },
    //         success:function(data){ // 成功拿到结果放到这个函数 data就是拿到的结果
    //
    //         }
    //     })
    // }
</script>
</html>